@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;    
    background-color: #e6eff6;
}

.container {
    display: grid;
    font-family: 'Karla', sans-serif;
    justify-content: space-around;
    grid-template-rows: 80% 10%;

    min-height: 100vh;
}

.title { 
    color: hsl(179, 62%, 43%);
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
    font-weight: bold;
}

.component {
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(116, 116, 116, 0.1),
                0 3px 10px rgba(116, 116, 116, 0.1);
    color: #fff;
    display: grid; 
    grid-template-columns: repeat(4 ,1fr); 
    max-width: 635px;    
    overflow: hidden;
}

.component > section { padding : 20px 40px; }

.community {
    background-color: #fff;
    grid-column:  1 / 5;
    grid-row: 1;
}

.community h2 { color: hsl(71, 73%, 54%); }

.community p {
    color: hsl(218, 22%, 67%);
    line-height: 1.7em;
}

.subscription {
    background-color: #2bb3b1;
    grid-column:  1 / 3;
    grid-row: 2;
}

.subscription p:first-of-type {
    color: rgba(255,255,255, .5);
    font-weight: lighter;
}

.subscription p:nth-of-type(2) {
    font-weight: 100;
}

.subscription p:first-of-type span {
    color : #fff;
    font-size: 2em;
    font-weight: 400;
    margin-right: 10px;
    position: relative;
    top: 0.15em;
}

.why-us {
    background-color: #4abebd;
    grid-column: 3 / 5;
    grid-row: 2;
}

.why-us p {
    color: hsl(204, 43%, 93%);
    font-size: 0.9em;
    font-weight: lighter;
    line-height: 1.5em;
}

button {
    background-color: hsl(71, 73%, 54%);
    border : none;
    border-radius : 5px;
    box-shadow: 0 3px 10px rgba(83, 83, 83, 0.1),
                0 3px 10px rgba(83, 83, 83, 0.1);
    color : #fff;
    font-size : 1em;
    line-height: 3em;
    margin: 5px auto;
    min-width: 100%;
    
}

footer {
    padding: 10px;
}
@media (max-width: 375px) {
    .component {
    display: initial;
    margin:35% 5%;
    }
}
